*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}


.sidebar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    width: 350px;
    height: 2000px;
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#smart_home_logo{
    width: 80px;
    height: 80px;
}

.logosmarthome{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.ulmenu{
    list-style: none;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.ulmenu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}




.ulmenu li {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    gap: 30px;
    border-bottom: 1px solid #d8d8d8;
}

.logomenu{
    width: 30px;
    height: 30px;

}

.ulmenu li:hover{
    cursor: pointer;
    background-color: #e5e5ff  ;
}


.social-container{
    margin-top: 100px;
}

.social-container ul{
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.social-container ul li{
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.fa-brands{
    font-size: 40px;
}



.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}



.nav-menu{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


#user{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    
}

.nav-menu ul{
    margin-right: 50px;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    color: white;
    justify-content: center;
    align-items: center;


}


#name{
    color: black;
}


.main-analyis{
    margin-top: 30px;
    padding: 30px;
    width: 1350px;
    height: 100%;
    border-radius: 20px;
    background-color: #FFC6C6;
}




.main-analyis .inforA{
    gap: 80px;
    padding: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin-bottom: 20px;
    
}

.main-analyis .inforA .cambien{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    width: 270px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.detail-info{
    display: flex;
    gap: 50px;
    align-items: center;

}


.detail-info p {
    font-size: 20px;
}

.picDetail {
    width: 50px;
    height: 50px;
}

.cambien{
    background-color: white;
}

.cambien .numberdetail {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.inforB{
    padding: 10px;
    margin-top: 80px;
    display: flex;
    gap: 40px;

}

.chartcontainer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    border-radius: 10px;
}


.devicecontainer img{
    width: 100px;
}

.devicecontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.device{

    width: 430px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    gap: 40px;
}


.device button{
    width: 60px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
}


.device button:hover{
    cursor: pointer;
}

.device button:active{

    padding: 10px;
}


.onbutton{

    background-color: #95D2B3;
}



.offbutton{

    background-color: #EF5A6F;
}


.device p{


    font-size: 18px;
}

table{
    width: 100%;
    border-collapse: collapse
}





th{
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 5px;
}


th,td{
    text-align: center;
    padding: 15px 20px;
    border: 1px solid black;

}




tr:hover{
    background: #c6e2ff ;
    border: none;
    outline: none;
}

thead{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-data{
    margin-top: 20px;
    overflow-y: scroll;
}


.student_info{
    margin-top: 10px;
    background-color: #ff7f7f;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
    width: 700px;
    height: 380px;
}

.student_info:hover{
    background-color: #ff7f7f;
    color: white;
    cursor: pointer;
}


#info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#nothing{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#info p{
    font-size: 20px;
}

#profile_avatar{
    width: 100px;
    height: 100px;
}


#github{
    text-decoration: none;
    color: white;
}


.main-analyis-profile{
    margin-top: 30px;
    padding: 30px;
    width: 1350px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.tool-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.search-bar{
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-color: white;
}

.search-bar input{
    height: 100%;
    width: 250px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-bar input::placeholder{
    font-size: 18px;
}

